<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/alidata/www/java/log/dms/dms.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/alidata/www/java/log/dms/dms-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
	
	<logger name="org.springframework" level="DEBUG"/>
	<logger name="org.hibernate" level="DEBUG"/>
	<logger name="org.apache" level="ERROR"/>	
	<logger name="com.yijava" level="DEBUG"/>
</configuration>